/* Skills Section */
.skills-section {
  margin-left: 300px !important ; /* Space reserved for the navbar */
  padding: 20px;
  background-color: color-mix(in srgb, #149ddd, transparent 95%);
}
.skills-head {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  color: #272829;
}

.skills-head::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 4px;
  background: #149ddd;
  left: 0;
  right: 0;
  top: 45px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  width: 45%; /* Half-width for two-column layout */
  margin-bottom: 20px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

.skill-bar-wrap {
  background-color: #e0e0e0;
  height: 10px;
  border-radius: 0px;
  overflow: hidden;
}

.skill-bar {
  height: 100%;
  background-color: var(--bar-color, #4caf50); /* Default bar color */
  transition: width 0.6s ease-in-out;
  width: 0%; /* Initial state */
  animation: fillBar 2s forwards;
  animation-delay: 0.2s;
}

.skill-name {
  color: #333;
  text-transform: uppercase;
}

.skill-percentage {
  color: #333;
}
.skill-bar-wrap {
  height: 7px;
}

/* Responsive Design */
@media (max-width: 1199px) {
  .skills-section {
    margin-left: 0 !important; /* Remove navbar space */
  }
  .skill {
    width: 100%; /* Full-width on smaller screens */
  }
  .skills-head{
    font-size: 26px;
  }
  .skills-head::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    background: #149ddd;
    left: 0;
    right: 0;
    top: 32px;
  }
  .skill-name , .skill-percentage{
    font-size: 14px;
  }
  
}

/* Animation for the skill bar fill */
@keyframes fillBar {
  0% {
    width: 0%;
  }
  100% {
    width: calc(var(--percentage) * 1%);
  }
}
